/*html reset*/
html, body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

/* header */
header{
	color: #fff;
	background-color: #2b303b;
	padding: 7px 0 0 0;
	text-align: center;
}

.status{
	padding: 2px;
	background-color: #4e5566;
	color: rgba(255, 255, 255, .9);
}

.status h2{
	font-weight: normal;
}

.status.x{
	background-color: hotpink;
}

.status.o{
	background-color: green;
}

/* Tic Tac Toe Board layout */
.board{
	margin: 20px auto;
	width: 70vw;
	height: 70vw;
	display: flex;
	flex-wrap: wrap;
}

.square{
	width: 33.33333%;
	height: 33.33333%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.square:nth-of-type(3n+1), .square:nth-of-type(3n+2){
	border-right: solid 1.75vw #ccc;
}

.square:nth-child(-n+6){
	border-bottom: solid 1.75vw #ccc;
}

/* squares */
:not(.over)>.square:not(.played){
	cursor: hand;
}

/* style X player */
.player-x{
	position: relative;
	width: 11vw;
	height: 11vw;
}

.player-x:before, .player-x:after{
	position: absolute;
	top: 0;
	left: 4.25vw;
	display: block;
	content: '';
	width: 2.5vw;
	height: 11vw;
	background-color: hotpink;
}

.player-x:before{
	transform: rotate(45deg);
}

.player-x:after{
	transform: rotate(-45deg);
}

.o-won .player-x:before, .o-won .player-x:after{
	background-color: #ccc;
}

/* open X */
.open-x{
	position: relative;
	width: 11vw;
	height: 11vw;
}

.open-x:before, .open-x:after{
	position: absolute;
	top: 0;
	left: 4.25vw;
	display: block;
	content: '';
	width: 2.5vw;
	height: 11vw;
}

.open-x:before{
	transform: rotate(45deg);
}

.open-x:after{
	transform: rotate(-45deg);
}

:not(.over)>.square:not(.played):hover .open-x:before, 
:not(.over)>.square:not(.played):hover .open-x:after{
	background-color: #eee;
}

/* style O player*/
.player-o{
	box-sizing: border-box;
	height: 11vw;
	width: 11vw;
	border-radius: 5.5vw;
	border: 2.5vw solid green;
}

.x-won .player-o{
	border: 2.5vw solid #ccc;
}
/* open O*/

:not(.over)>.square:not(.played):hover .open-o{
	box-sizing: border-box;
	height: 11vw;
	width: 11vw;
	border-radius: 5.5vw;
	border: 2.5vw solid #eee;
}