/*html reset*/
html, body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

/* page layout */
.play-space{
	display: flex;
	flex-direction: row;
}
@media (max-width: 850px){
	.play-space{
		flex-direction: column;
	}
}

/* header */
header{
	color: #fff;
	background-color: #7b8396;
	text-align: center;
	flex-basis: 400px;
	flex-grow: 0;
	flex-shrink: 0;
}
@media (max-width: 850px){
	header{
		/*background-color: white;*/
		flex-basis: auto;
		padding-bottom: 15px;
	}
}

.title{
	background-color: #2b303b;
	margin: 0;
	padding: 20px 0;
}

@media (max-width: 850px){
	.title{
		display: none;
	}
}

.status{
	padding: 2px;
	background-color: #4e5566;
	color: rgba(255, 255, 255, .9);
}

.status h2{
	font-weight: normal;
}
@media (max-width: 850px){
	.status h2{
		font-size: 20px;
		line-height: 1em;
		margin: 8px 0;
	}
}

.status.x{
	background-color: hotpink;
}

.status.o{
	background-color: green;
}

/* Player Indicators */
.players{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 50px 0 0;
}
@media (max-width: 850px){
	.players{
		margin: 15px 0 0;
	}
}

.players.x .player-one-x:before, 
.players.x .player-one-x:after{
	background-color: hotpink;
}

.players.o .player-two-o{
	border-color: green;
}

.player-one-x{
	position: relative;
	height: 100px;
	width: 100px;
}
@media (max-width: 850px){
	.player-one-x{
		height: 60px;
		width: 60px;
	}
}

.player-one-x:before, .player-one-x:after{
	position: absolute;
	top: 0;
	display: block;
	content: '';
	background-color: #2b303b;
	transition: background-color .2s ease-in;
	left: 32px;
	width: 25px;
	height: 100px;
}
@media (max-width: 850px){
	.player-one-x:before, .player-one-x:after{
		left: 19px;
		width: 15px;
		height: 60px;
	}
}

.player-one-x:before{
	transform: rotate(45deg);
}

.player-one-x:after{
	transform: rotate(-45deg);
}

.player-two-o{
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border: 25px solid #2b303b;
	transition: border-color .2s ease-in;
	border-radius: 50px;
}
@media (max-width: 850px){
	.player-two-o{
		height: 60px;
		width: 60px;
		border-radius: 30px;
		border-width: 15px;
	}
}

/* switches */
.group-pick{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.switch{
	display: inline-flex;
	margin-top: 10px;
}

.player-pick{
	display: block;
	margin: 0;
	padding: 10px;
	font-size: 16px;
	color: white;
	box-sizing: border-box;
	border: solid 3px #5d6577;
}
@media (max-width: 850px){
	.player-pick{
		font-size: 15px;
		padding: 7px;
		border-width: 2px;
	}
}

.switch > input{
	display: none;
}

.switch > input:checked + .player-pick{
	background-color: #4e5566;
	border-color: #4e5566;
}

.player-pick:first-of-type{
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border-right: 3px solid #5d6577;
}

.player-pick:hover{
	background-color: #4e5566;
	border-color: #4e5566;
}

.player-pick:last-of-type{
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	border-left: none;
}

/* New Game Button */
.new-game-button{
	border: none;
	background-color: hotpink;
	/*color: #2b303b;*/
	color: white;
	font-size: 16px;
	padding: 10px 50px;
	border-radius: 4px;
	margin: 30px 0;
}
@media (max-width: 850px){
	.new-game-button{
		margin: 10px 0 0 0;
		padding: 7px 30px;
		font-size: 15px;
		border-width: 2px;
	}
}

.new-game-button:hover{
	background-color: #bf417f;
}

.new-game-button:active{
	/*background-color: #ad3771;*/
	border-color: #ad3771;
	transform: translateY(2px);
}

/* Tic Tac Toe Board layout */
.gameboard{
	flex-grow: 2;
	/*padding: 50px 0;*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.board{
	margin: 20px auto;
	width: 50vw;
	height: 50vw;
	max-width: 1220px;
	max-height: 1220px;
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 850px){
	.board{
		height: 90vw;
		width: 90vw;
	}	
}

.square{
	width: 33.33333%;
	height: 33.33333%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 2240px){
	.square:nth-of-type(3n+1), .square:nth-of-type(3n+2){
		border-right: solid 39px #ccc;
	}

	.square:nth-child(-n+6){
		border-bottom: solid 39px #ccc;
	}
}

@media (max-width: 2239px ) and (min-width: 851px){
	.square:nth-of-type(3n+1), .square:nth-of-type(3n+2){
		border-right: solid 1.75vw #ccc;
	}

	.square:nth-child(-n+6){
		border-bottom: solid 1.75vw #ccc;
	}
}

@media (max-width: 850px){
	.square:nth-of-type(3n+1), .square:nth-of-type(3n+2){
		border-right: solid 3.93vw #ccc;
	}

	.square:nth-child(-n+6){
		border-bottom: solid 3.93vw #ccc;
	}
}

/* squares */
:not(.over)>.square:not(.played){
	cursor: hand;
}

/* style X player */
.player-x{
	position: relative;
}

@media (min-width: 2240px){
	.player-x{
		width: 246px;
		height: 246px;
	}
}

@media (max-width: 2239px ) and (min-width: 851px){
	.player-x{
		width: 11vw;
		height: 11vw;
	}
}

@media (max-width: 850px){
	.player-x{
		width: 20vw;
		height: 20vw;
	}
}

.player-x:before, .player-x:after{
	position: absolute;
	top: 0;
	display: block;
	content: '';
	background-color: hotpink;
	transition: background-color .2s ease-in;
}

@media (min-width: 2240px){
	.player-x:before, .player-x:after{
		left: 95px;
		width: 56px;
		height: 247px;
	}
}

@media (max-width: 2239px ) and (min-width: 851px){
	.player-x:before, .player-x:after{
		left: 4.25vw;
		width: 2.5vw;
		height: 11vw;
	}
}

@media (max-width: 850px){
	.player-x:before, .player-x:after{
		left: 7.73vw;
		width: 4.55vw;
		height: 20vw;
	}
}

.player-x:before{
	transform: rotate(45deg);
}

.player-x:after{
	transform: rotate(-45deg);
}

.o-won .player-x:before, .o-won .player-x:after,
.draw .player-x:before, .draw .player-x:after{
	background-color: #ccc;
}

/* open X */
.open-x{
	position: relative;
}

@media (min-width: 2240px){
	.open-x{
		width: 246px;
		height: 246px;
	}
}

@media (max-width: 2239px ) and (min-width: 851px){
	.open-x{
		width: 11vw;
		height: 11vw;
	}
}

@media (max-width: 850px){
	.open-x{
		width: 20vw;
		height: 20vw;
	}
}

.open-x:before, .open-x:after{
	position: absolute;
	top: 0;
	display: block;
	content: '';
}

@media (min-width: 2240px){
	.open-x:before, .open-x:after{
		left: 95px;
		width: 56px;
		height: 246px;
	}
}

@media (max-width: 2239px ) and (min-width: 851px){
	.open-x:before, .open-x:after{
		left: 4.25vw;
		width: 2.5vw;
		height: 11vw;
	}
}

@media (max-width: 850px){
	.open-x:before, .open-x:after{
		left: 7.73vw;
		width: 4.55vw;
		height: 20vw;
	}
}

.open-x:before{
	transform: rotate(45deg);
}

.open-x:after{
	transform: rotate(-45deg);
}

:not(.over)>.square:not(.played):hover .open-x:before, 
:not(.over)>.square:not(.played):hover .open-x:after{
	background-color: #eee;
}

/* style O player*/
.player-o{
	box-sizing: border-box;
	border: 2.5vw solid green;
	transition: border-color .2s ease-in;
}
@media (min-width: 2240px){
	.player-o{
		width: 246px;
		height: 246px;
		border-radius: 123px;
		border-width: 56px; 
	}
}

@media (max-width: 2239px ) and (min-width: 851px){
	.player-o{
		height: 11vw;
		width: 11vw;
		border-radius: 5.5vw;
	}
}

@media (max-width: 850px){
	.player-o{
		height: 20vw;
		width: 20vw;
		border-radius: 10vw;
		border-width: 4.55vw; 
	}
}

.x-won .player-o, 
.draw .player-o{
	border-color: #ccc;
}
/* open O*/

:not(.over)>.square:not(.played):hover .open-o{
	box-sizing: border-box;
	border: 2.5vw solid #eee;
}

@media (min-width: 2240px){
	:not(.over)>.square:not(.played):hover .open-o{
		width: 246px;
		height: 246px;
		border-radius: 123px;
		border-width: 56px; 
	}
}

@media (max-width: 2239px ) and (min-width: 851px){
	:not(.over)>.square:not(.played):hover .open-o{
		height: 11vw;
		width: 11vw;
		border-radius: 5.5vw;
	}
}

@media (max-width: 850px){
	:not(.over)>.square:not(.played):hover .open-o{
		height: 25vw;
		width: 25vw;
		border-radius: 12vw;
		border-width: 5.6vw;  
	}
}

/* utility classes*/
.hide{
	display: none;
}